{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">ADMINISTRATION</h1> 
            <h2 class="mt-5">Gérer les articles</h2>
            <hr>
            <p>
                <a href="{{ url('admin.recrut.index') }}" class="btn btn-info btn-lg btn-block">Recrutement</a>
                <a href="{{ url('admin.historique.index') }}" class="btn btn-info btn-lg btn-block mt-5">Historique</a>
                <a href="{{ url('admin.contact.index') }}" class="btn btn-info btn-lg btn-block mt-5">Contact</a>
                <a href="{{ url('admin.equipe.index') }}" class="btn btn-info btn-lg btn-block mt-5">Equipe</a>
                <a href="{{ url('admin.home.index') }}" class="btn btn-info btn-lg btn-block mt-5">Actualités</a>
                <a href="{{ url('admin.reseau.index') }}" class="btn btn-info btn-lg btn-block mt-5">Reseau</a>
                <a href="{{ url('outillage.index') }}" class="btn btn-info btn-lg btn-block mt-5">Outillage</a>
                <a href="{{ url('list_booking.index') }}" class="btn btn-info btn-lg btn-block mt-5">Résérvations</a>


                
            </p>
        </div>
    </div>
</div>
{% endblock %}