{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Administration</h1> 
            <h2 class="mt-5">Gérer les articles</h2>
            <hr>
            <p>
                <a href="{{ url('admin.recrut.index') }}" class="btn btn-info">Recrutement</a>
                <a href="{{ url('admin.home.index') }}" class="btn btn-info">Historique</a>
                <a href="{{ url('admin.home.index') }}" class="btn btn-info">Contact</a>
                <a href="{{ url('admin.home.index') }}" class="btn btn-info">Equipe</a>
                <a href="{{ url('admin.home.index') }}" class="btn btn-info">Actualités</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}