<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}Bienvenu sur HTelGroupe.com{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        {% include '_inc/nav.html.twig' %}
    


        {% block body %}{% endblock %}
        <script src="{{ asset('build/js/jquery.min.js') }}"></script>
        <script src="{{ asset('build/js/popper.min.js') }}"></script>
        <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
        
        {% block javascripts %}{% endblock %}
        
        {% include 'footer.html.twig' %}
    </body>
</html>
