{% extends 'base.html.twig' %}

{% block title %}
    Htel Groupe
{% endblock %}

{% block header %}
    <h1>{{ title | upper }}</h1>
{% endblock %}

{% block body %}
 
 <div id="conteneur">
  <div id="contenue">
    <video autoplay muted loop src="video/fibre.mp4"></video>
      <div id="message"> HTel Groupe est l'interlocuteur unique pour apporter des solutions sur mesure de telecommunication pour 
      les entreprises et les collectivités. Création des systemes réseaux et assurer leur maintenance sont les points forts de Htel Groupe.
    </div>
  </div>
</div>
 
 
 <div class="container">





    <h2 class="mt-5" style="color:#415A97">Nos solutions</h2>
    <hr class="my-2">
    <div class="row mt-5">
        <div id="zoom" class="col-md-4">
           <div class="card bg-light mb-3">
            <a href="{{ url('reseaux.index') }}">
              <img src="https://www.normasys.com/wp-content/uploads/2015/05/infrastruc1.jpg" alt="installation réseau d'esntreprise"
              style="height: 200px; width: 100%; display: block">
            </a>
              <div class="card-body" style="color:white; background-image:url('{{ asset('img/bg6.jpg') }}'); background-repeat: no-repeat;">
                   <h4 class="card-title" style="color:orange">Solutions Réseaux</h4>
                   <p class="card-text">HTel est présent à chacune des étapes de la création d’un réseau télécom et s'adapte à vos projets 
                   en offrant une solution clé en mains ou sur mesure.</p>
                   <a href="{{ url('reseaux.index') }}" class="btn btn-outline-warning btn-sm">en savoir plus</a>
              </div>
           </div>
        </div>
        <div id="zoom" class="col-md-4">
           <div class="card bg-light mb-3">
            <a href="{{ url('telephonie.index') }}">
              <img src="https://www.estorm.com.au/wp-content/uploads/2016/03/sub-ip.jpg" alt="installation réseau d'esntreprise"
              style="height: 200px; width: 100%; display: block">
            </a>
              <div class="card-body" style="color:white; background-image:url('{{ asset('img/bg6.jpg') }}'); background-repeat: no-repeat;">
                   <h4 class="card-title" style="color:orange">Solutions Téléphonie</h4>
                   <p class="card-text">Nous construisons l’architecture télécom et réseaux, spécifique à votre activité, pour faire fonctionner ensemble vos téléphones fixes, mobiles et vos ordinateurs.</p>
                   <a href="{{ url('telephonie.index') }}" class="btn btn-outline-warning btn-sm">en savoir plus</a>
              </div>
           </div>
        </div>
        <div id="zoom" class="col-md-4">
           <div class="card bg-light mb-3">
            <a href="{{ url('wifi.index') }}">
              <img src="https://images.squarespace-cdn.com/content/v1/55075f84e4b0f11bacb1b8d0/1558255405298-0BBA1EJNNMRJDBCYZ6YK/ke17ZwdGBToddI8pDm48kBkSiM__EzOQIDgmzlPq1lAUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcCqGN8ibH_L26LfR-C9ExumJMNnlVG3A26SxeZXqyNoE5FwTtxSqRaVlkHSTPmFO1/wifi+-in-schools-wirelesseducation.jpg?format=750w" alt="installation réseau d'esntreprise"
              style="height: 200px; width: 100%; display: block">
            </a>
              <div class="card-body" style="color:white; background-image:url('{{ asset('img/bg6.jpg') }}'); background-repeat: no-repeat;">
                   <h4 class="card-title" style="color:orange">Solutions WIFI</h4>
                   <p class="card-text">Avec Htel Groupe vous optez pour les solutions WIFI dernières générations, les plus performantes et répondant aux exigences et normes de sécurité.</p>
                   <a href="{{ url('wifi.index') }}" class="btn btn-outline-warning btn-sm">en savoir plus</a>
              </div>
           </div>
        </div>
    </div>





    <h2 class="mt-5" style="color:#415A97">Nos Clients</h2>
    <hr class="my-2">
    <div class="row mt-5">
        <div id="zoom" class="col-md-4">
           <div class="card bg-light mb-3">
            <a href="{{ url('client.index') }}">
              <img src="{{ asset('img/ope.jpg') }}" style="height: 200px; width: 100%; display: block">
            </a>
              <div class="card-body" style="color:white; background-image:url('{{ asset('img/bg6.jpg') }}')">
                   <h4 class="card-title" style="color:orange">Opérateurs Télécoms</h4>
                   <p class="card-text">Avec une offre qualitative de services, HTel joue un rôle majeur auprès des opérateurs télécoms. En France, 
                   plus d’une dizaine de grandes sociétés nous font confiance pour la construction des réseaux fibre optique.</p>
                   <a href="{{ url('client.index') }}" class="btn btn-outline-warning btn-sm">en savoir plus</a>
              </div>
           </div>
        </div>
        <div id="zoom" class="col-md-4">
           <div class="card bg-light mb-3">
            <a href="{{ url('collectivite.index') }}">
              <img src="{{ asset('img/col.jpg') }}" style="height: 200px; width: 100%; display: block">
            </a>
              <div class="card-body" style="color:white; background-image:url('{{ asset('img/bg6.jpg') }}'); background-repeat: no-repeat;">
                   <h4 class="card-title" style="color:orange">Collectivités locales</h4>
                   <p class="card-text">HTel Groupe accompagne les acteurs des projets publics, collectivités territoriales et opérateurs d’infrastructure, 
                   pour le déploiement de réseaux THD à l’échelle régionale ou départementale.</p>
                   <a href="{{ url('collectivite.index') }}" class="btn btn-outline-warning btn-sm">en savoir plus</a>
              </div>
           </div>
        </div>
        <div id="zoom" class="col-md-4" >
           <div class="card bg-light mb-3">
            <a href="{{ url('diver.index') }}">
              <img src="{{ asset('img/pylone.jpg') }}" style="height: 200px; width: 100%; display: block">
            </a>
              <div class="card-body" style="color:white; background-image:url('{{ asset('img/bg6.jpg') }}'); background-repeat: no-repeat;">
                   <h4 class="card-title" style="color:orange">Quelques Réalisations</h4>
                   <p class="card-text">Depuis sa création HTel Groupe joue un role majeur auprès des opérateurs télécoms et des colléctivités locales
                    afin de mener a bon port ce grand projet de déploiment du Très Haut Débit</p>
                   <a href="{{ url('diver.index') }}" class="btn btn-outline-warning btn-sm">en savoir plus</a>
              </div>
           </div>
        </div>
    </div>








<div class="bd-example mt-5">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/reseau1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:orange">Réseaux Telecoms</h5>
          <p>HTel Groupe accompagne les entreprises installées sur plusieurs sites à répondre à leurs besoins en termes d’accès 
          Internet rapide à haut débit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/wifi.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:orange">Avec HTel Groupe</h5>
          <p>Vous optez pour les solutions WIFI dernières générations, les plus performantes et répondant aux exigences des normes 
          de sécurité.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/tel.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:orange">Telephonie d'entreprise</h5>
          <p>Une offre complète de solutions et services de télécommunication destinées aux structures de 5 à 1000 personnes.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/equipe.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:orange">HTel Groupe</h5>
          <p>C'est aussi une équipe qualifié, expérimenté et à votre écoute pour concevoir, réaliser et maitriser vos projets .</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>
  </div>
</div>




    <div class="jumbotron mt-3 img-fluid" style="color:white; background-image:url('{{ asset('img/bg.jpg') }}'); background-repeat: no-repeat;" >
      <h1 style="color:orange ">HTEL GROUPE</h1>
      <h3 class="display-5">Réactivité, mobilité et satisfaction sont notre devise</h3>
      <p class="lead"> HTel Groupe est l'interlocuteur unique pour apporter des solutions sur mesure de telecommunication pour 
      les entreprises et les collectivités.</p>
    <hr class="my-4">
      <h5 class="display-5"> Plus de 10 années de croissance ont marqué HTel Groupe et ça continue... </h5>
      <p class="lead">
        <a class="btn btn-outline-warning btn-sm" href="{{ url('historique.index') }}" role="button">Lire la suite</a>
      </p>
    </div>






  </div>
{% endblock %}

