{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<div class="row">
    <div class="col">
        <h1 class="text-center mt-5">Administration</h1>
        <a href="{{ url('admin.home.index') }}" class=""> <u>Retour à l'Accueil</u></a>
        <h2 class="mt-5">Ajouter / Modifier un Article</h2>

         {# 
            - form_start/end : affichage du formulaire 
            - form : est la clé envoyé par le controlleur
            - novalidate : désactiver la validation html
         #}

         {{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
            <p>
                {{ form_label(form.nom, 'Nom : ') }}
                {{ form_widget(form.nom, { attr: { 
                    placeholder: "Entrez le nom du membre de l'équipe",
                    autofocus :'autofocus'
                     } } ) }}
            </p>
            <p>
                {{ form_label(form.fonction, 'Fonction : ') }}
                {{ form_widget(form.fonction, { attr: { 
                    placeholder: 'Entrez la fonction'} } ) }}
            </p>
            <p>
                {{ form_label(form.message, 'Message : ') }}
                {{ form_widget(form.message, { attr: { 
                    placeholder: 'Présentation en quelques mots'} } ) }}
            </p>
            <p>
                {{ form_label(form.imageFile, 'photo : ') }}
                {{ form_widget(form.imageFile, { attr: { 
                    placeholder: 'chargez une photo du membre'} } ) }}
            </p>

            <p>
            <button class=" btn btn-primary">Valider</button>
            </p>
         {{ form_end(form) }}

    </div>
</div>
</div>
{% endblock %}