{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<div class="row">
    <div class="col">
        <h1 class="text-center mt-5">Administration</h1>
        <a href="{{ url('admin.home.index') }}" class=""> <u>Retour à l'Accueil</u></a>
        <h2 class="mt-5">Ajouter / Modifier un Article</h2>

         {# 
            - form_start/end : affichage du formulaire 
            - form : est la clé envoyé par le controlleur
            - novalidate : désactiver la validation html
         #}

         {{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
            <p>
                {{ form_label(form.adresse, 'Adresse postale : ') }}
                {{ form_widget(form.adresse, { attr: { 
                    placeholder: "Entrez l'adresse",
                    autofocus :'autofocus'
                     } } ) }}
            </p>
            <p>
                {{ form_label(form.mail, 'Adresse E-Mail : ') }}
                {{ form_widget(form.mail, { attr: { 
                    placeholder: 'Décrivez le poste recherché'} } ) }}
            </p>
            <p>
                {{ form_label(form.tel, 'Telephone : ') }}
                {{ form_widget(form.tel, { attr: { 
                    placeholder: 'Entrez le numero de telephone'} } ) }}
            </p>

            <p>
            <button class=" btn btn-primary">Valider</button>
            </p>
         {{ form_end(form) }}

    </div>
</div>
</div>
{% endblock %}